.navbar-nav
{
  position:relative;      // positioning relative to parent
  float:right;            // float right inside it's parent
  list-style-type:none;   // this is to remove the list dots (bullets)
  background:#2A2A36;
}