* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #EEEEEE;
}

// header {
//   background-color: #A5F1E9;
//   padding: 16px 32px;
//   display:flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
//   min-width: 100vw;
//   h1{
//     color: #fff;
//     font-family: 'Edu VIC WA NT Beginner', cursive;
//     font-weight: bolder;
//     font-weight: 200;
//     text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
//   }

//   div{
//     float:right;
//     text-align: right;
//     display: flex;
//     margin-right: 0;
//     .nav-items{
//       color: #fff;
//       margin-top: 8.5px;
//       margin-left: 15px;
//       margin-right: 10px;
//       font-family: 'Edu VIC WA NT Beginner', cursive;
//       font-weight: bolder;
//       font-weight: 200;
//       text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
//     }
//     .sign-out{
//       padding-top:4px;
//     }
//   }
// }

.navbar-colorset{
  background-color: #A5F1E9;
  padding: 25px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  .navbar-brand{
    color: #fff;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: bolder;
    font-weight: 200;
    font-size: 35px;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
  .navbar-item{
    color: #fff;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-decoration: none;
    font-weight: bolder;
    font-weight: 200;
    font-size: 25px;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
}

.create-area-container{
  display:flex;
  justify-content: space-between;
  .create-button{
    float:left;
    text-align: right;
    display: flex;
  }
}

.affirm-button{
  display:flex;
  align-content: right;
}

.greeting{
  margin: 30px auto;
}

.all-posts-bar{
  margin: auto;
  padding: 16px 32px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  h1{
    float:left;
  }
}

.all-posts-select{
  display:flex;
  margin:1rem;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.all-posts-container{
  display:flex;
  flex-wrap: wrap;
  align-items: center;

}

footer {
  background-color:#F9DE9F;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  font-family: 'Oswald', sans-serif;
  color: white;
  height: fit-content;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  h1{
    height:24px;
   
    // overflow:hidden;
  }
  p{
    height:56px;
    width:240px;
    word-wrap:normal;
    overflow: scroll;
    // overflow:hidden;
  }
  small{
    font-style: italic;
    color: #c2c2c2;
    display:block;
    margin-bottom:5px;
  }
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #7A86B6;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: vertical;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #F9DE9F;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}


*{
  // border:1px solid red;
}